* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 674px;
  background: #000;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/AR-es-20230710-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 55px;
  width: 175px;
  cursor: pointer;
  margin-left: 50px;
  display: block;
}

nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 13px;
  border-radius: 4px;
  margin-left: 25px;
  cursor: pointer;
}

.login-btn {
  width: 2rem;
  height: fit-content;
  margin-left: 0.7rem;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid dimgray;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 6px;
  height: fit-content;
  margin-left: 0.57rem;
}

.dropbtn:hover {
  background: none;

}


.dropdown-content {

  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  border-radius: 4px;

}

.dropdown-content a {
  color: #000;
  padding: 0;
  text-decoration: none;
  display: block;


}

.dropdown-content a:hover {
  background-color: #3494fc;
  color: #fff;
}


.dropdown:hover .dropdown-content {
  display: block;

}

.bi-globe {
  margin-right: 0px;
  width: 12px;
  margin-left: 0;
}

.bi-caret-down-fill {
  margin-left: 10px;
  width: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
  max-width: 800px;
}

.header-content h1 {
  font-size: 55px;
  line-height: 45px;
  font-weight: 900;
  max-width: 800px;
  margin-bottom: 30px;
}

.header-content h3 {
  font-weight: 400px;
  margin-bottom: 20px;
  font-size: 23px;
}

.p {
  font-size: 30px;
}

.email-signup {
  background: transparent;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
  display: flex;
}

.email-signup input {
  flex: auto;
  border: 0;
  outline: 0;
  margin: auto 15px;
  background: transparent;
  color: #fff;
  border: 1px solid dimgray;
  height: 60px;
  border-radius: 4px;
  padding-left: 15px;
}

.email-signup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  padding: 15px 30px;
  margin-left: 1px;
  font-weight: bolder;
  border-radius: 4px;
}

button:hover {
  background-color: #a90707;
}

nav button:hover {
  background-color: #a90707;
}

.bi-chevron-right {
  font-weight: bolder;
  font-size: 21x;
}

.card1,
.card2,
.card3,
.card4 {
  border-top: 0.5rem solid #222222;
  background-color: black;
  padding: 3.5rem 1.5rem;
}

.card1__title,
.card2__title,
.card3__title,
.card4__title {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.card1__paragraph,
.card2__paragraph,
.card3__paragraph,
.card4__paragraph {
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3rem;
}

.card1__container-text {
  margin-bottom: 0.17rem;
}

.card2__container-text,
.card3__container-text,
.card4__container-text {
  margin-bottom: 1rem;
}

.card1__container-img-video {
  position: relative;
}

.card1__container-video {
  position: absolute;
  z-index: 99;
  top: 20.95%;
  left: 13.2%;
  width: 72.77%;
  height: 55%;
}

.card1__container-img,
.card3__container-img {
  position: relative;
  z-index: 100;
}

.card1__img,
.card2__img1,
.card2__img2,
.card3__img,
.card4__img {
  width: 100%;
}

.card1__video,
.card3__video {
  width: 100%;
}

.card2__container-subcard-img2 {
  width: 12.7%;
  min-width: 12%;
  max-width: 14%;
}

.card3__container-divs {
  position: relative;
}

.card2__container-img1 {
  width: 100%;
}

.card2 {
  position: relative;
}

.card2__container-subcard {
  background-color: black;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border: 2px solid rgba(128, 128, 128, 0.7);
  border-radius: 0.75rem;
  padding: 0.3rem 0rem 0.5rem 0rem;
  position: absolute;
  top: 74.5%;
  min-width: 64%;
  max-width: 83%;
  max-height: 15%;
}

.card2__subtitle {
  font-size: 0.875rem;
  font-weight: normal;
  color: white;
  text-align: left;
}

.card2__subparagraph {
  margin: 0;
  font-size: 0.75rem;
  font-weight: normal;
  color: #0071eb;
  text-align: left;
}

.card2__continer-icon {
  width: 13%;
}

.card2__icon {
  max-width: 100%;
}

.card2__container-subcard-text {
  width: 53%;
  height: 99%;
  line-height: 1rem;
}

.card3__container-video {
  position: absolute;
  z-index: 99;
  top: 10.7%;
  left: 18.9%;
  height: 46%;
  width: 61.03%;
}



.container__faq {
  border-top: 0.5rem solid #222222;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.05rem 3.3rem;
}


.btn__faq {
  color: #fff;
  border: 0;
  width: 85.3%;
  background-color: #303030;
  margin: 0.3rem;
  font-size: 25px;
  padding: 1.3rem 1rem;
  text-align: start;
  cursor: pointer;
  transition: .1s;
}

section .btn__faq:hover {
  background-color: #454545;
}

.email__container {
  display: flex;
  flex-direction: column;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.email__container input {
  border: 0;
  outline: 0;
  margin-bottom: 1rem;
  background: #151515;
  color: #fff;
  border: 1px solid dimgray;
  width: 70%;
  height: 3rem;
  border-radius: 4px;
  padding-left: 1rem;
}

.email__container button {
  background: #E50914;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 0.7rem 0rem;
  font-weight: 500;
  border-radius: 4px;
  width: 8rem;
  margin-left: 0.67rem;
}

.btn__faq {
  font-size: 18px
}

.faq__title {
  margin: 1rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}


.faq {
  margin-bottom: 0rem;
  text-align: center;
  padding: 2rem 3rem;
  font-size: 1.125rem;
  font-weight: 400;
}


.footer {
  background: #000;
  color: #a9a9a9;
  border-top: 0.5rem solid #222222;
  margin-bottom: 0;
}

.footer h3 {
  margin-left: 45px;
  font-size: 15px;
  padding-top: 70px;
}

.footer a {
  color: #a9a9a9;
}

.footer__column {
  display: flex;
  flex-wrap: wrap;
}

.footer__ul {
  color: #a9a9a9;
  list-style: none;
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__ul li {
  width: calc(33.33% - 20px);
  margin-top: 10px;
  box-sizing: border-box;
}


.button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: start;
  cursor: pointer;
  font-size: 16px;
}


.button i {
  margin-right: 5px;
  
}

.button span {
  display: flex;
  align-items: center;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border: 1px solid #ffffff;
  padding: 5px;
  margin-left: 40px;
}


.button i.fa-chevron-down {
  margin-left: 5px;
  
}

.footer__title {

  color: #a9a9a9;
  margin-top: 25px;
  margin-left: 50px;
  padding-bottom: 50px;
}

@media (min-width: 320px) {
  .header {
    height: 100vh;
    padding: 20px 5%;
  }

  .logo {
    margin-left: 0;
    width: 100px;
    height: 35px;
  
  }

  .container-btn {
    display: flex;
    flex-wrap: inherit;
    justify-content: end;
  }

  .dropdown {
    display: block;
    margin-bottom: 10px;
  }

  .dropdown-content {
    position: static;
    display: none;
  }

  .dropbtn {
    display: inline-flex;
    height: fit-content;
    padding: 5px;
    margin-left: 0;
  }

  .dropbtn span {
    display: none;
  }

  .login-btn {
    width: 85px;
    padding: 2px;
    margin-top: 5px;
  }

  .bi-caret-down-fill {
    margin-right: 2px;
  }

  .bi-globe {
    margin-right: 1px;
  
  }

  .email-signup {
    flex-direction: column;
  }

  .email-signup button {
    width: fit-content;
    margin: 10px 0;
    height: fit-content;

    margin-bottom: 20px;
  }

  .email-signup input {
    width: 100%;
    margin: 10px 0;
    height: 50px;
  }

  .header-content {
    width: 85%;
  }

  .header-content h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .header-content h3 {
    font-size: 18px;
  }

  .p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .bi-chevron-right {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .dropbtn span {
    display: flex;
    margin-left: 5px;
  }

  .login-btn {
    padding: 5px;
    width: 100px;
  }

  .email-signup {
    flex-direction: row;
    display: flex;
  }

  .email-signup input {
    margin-right: 10px;
    max-width: 600px;
  }

  .email-signup button {
    padding: 0;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
  }

  .dropdown-content {
    min-width: 150px;
  }

  .card2__container-subcard-img2 {
    min-width: 2.85rem;
    max-width: 3rem;
  }

  .card2__container-subcard {
    width: 23rem;
    min-width: 20rem;
    max-width: 50rem;
    height: 5.3rem;
  }

  .card2__subtitle {
    font-size: 1rem;
  }

  .card2__subparagraph {
    font-size: 0.875rem;
  }

  .card2__container-subcard-text {
    width: 60%;
  }


  
  .btn__faq {
    font-size: 18px;
    width: 89.5%;
  }

  .faq__title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .email__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 3rem;

  }

  .email__container button {
    font-size: 1.401rem;
    font-weight: 300;
    width: 11.377rem;
  }

  .email__container input {
    width: 17.6rem;
    height: 3.5rem;
    margin-bottom: 0;
  }

}

@media (min-width: 700px) {
  .card2__container-subcard-img2 {
    min-width: 1rem;
    max-width: 3rem;
  }

  .card2__container-subcard {
    width: 25.7rem;
  }

  .card2__container-subcard-text {
    width: 14rem;
  }
}

@media (min-width: 992px) {

  .card1,
  .card2,
  .card3,
  .card4 {
    padding: 4.3rem 2.2rem;
  }

  .card1__title,
  .card2__title,
  .card3__title,
  .card4__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    line-height: 4.3rem;
  }

  .card1__paragraph,
  .card2__paragraph,
  .card3__paragraph,
  .card4__paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.8rem;
  }

  .card1__container-text,
  .card1__container-img-video,
  .card2__container-text,
  .card2__container-divs,
  .card3__container-text,
  .card3__container-divs,
  .card4__container-text,
  .card4__container-img {
    width: 50%;
  }

  .card1__container-img-video,
  .card2__container-text,
  .card3__container-divs,
  .card4__container-text {
    margin-left: 1%;
  }

  .card2__container-subcard-img2 {
    width: 17%;
    max-width: 50%;
  }

  .card2__container-subcard {
    top: 60.7%;
    width: 31%;
    min-width: 15%;
    max-width: 55%;
    min-height: 20.013%;
    max-height: 70%;
  }

  .card2__container-subcard-text {
    width: 43.7%;
  }

  .card2__continer-icon {
    width: 3.3rem;
  }



  .btn__faq {
    font-size: 24px;
    width: 93%;
  }

  .faq__title {
    font-size: 3rem;
    font-weight: 900;
  }

  .faq {
    font-size: 21px;
  }

  .email__container button {
    width: 11.4rem;
  }

  .email__container input {
    width: 24.705rem;
    height: 3.5rem;
  }

}

@media (min-width: 1200px) {

  .card1,
  .card2,
  .card3,
  .card4 {
    padding: 4.3rem 9.3rem;
  }

  .card1__title,
  .card2__title,
  .card3__title,
  .card4__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    line-height: 4rem;
  }

  .card1__paragraph,
  .card2__paragraph,
  .card3__paragraph,
  .card4__paragraph {
    font-size: 1.53rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.7rem;
  }

  .card2__container-subcard {
    width: 21.9%;
    top: 61.7%;
    height: 19%;
    padding: 0.3rem 0.1rem 0.5rem 0.1rem;
  }

  .card2__container-subcard-img2 {
    width: 19.7%;
  }

  .card2__container-subcard-text {
    width: 45%;
  }

  .card1__container-img-video,
  .card2__container-text,
  .card3__container-divs,
  .card4__container-text {
    margin-left: 2%;
  }

  .card2__subtitle {
    font-size: 1rem;
  }

  .card2__subparagraph {
    font-size: 0.9rem;
  }

  .footer {
    padding: 0rem 7rem;
  }

  .footer__title h4 {
    font-size: 1rem;
  }

  /*aumento*/
  .container__faq {
    padding: 4rem 0rem;
  }
  .btn__faq {
    font-size: 24px;
    width: 76.5%;
  }

  .faq__title {
    font-size: 3.1rem;
    font-weight: 900;
  }
}

@media (max-width: 768px) {
  .footer__ul li {
    width: 100%;
   
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 130px;
    height: 55px;
  }

  .login-btn {
    padding: 8px;
    width: 100px;
  }

  .email-signup button {
    max-width: fit-content;
    padding: 12px;
  }

  .email-signup input {
    max-width: 60%;
    margin-left: 80px;
  }

  .header-content {
    width: 85%;
  }

  .header-content h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .header-content h3 {
    font-size: 24px;
  }

  .p {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bolder;
  }

  .dropdown-content {
    max-width: 100px;
  }
}